.expenseWidget {
    position: relative;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    background-color: #1a1a1a; // Zmiana na jasne tło dla spójności
    width: 45%;
    height: 80%;
    margin: auto; // Wyśrodkowanie widgetu
    padding: 2rem; // Dostosowanie paddingu
    border-radius: 3rem; // Miękkie zaokrąglenie
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Dodanie subtelnego cienia dla głębi
    box-shadow: 5px 10px 15px 1px #000000;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: -2px -3px 0px 0px rgba(197, 197, 197, 0.5);
        width: 100%;
        height: 100%;
        z-index: 2;
        border-radius: 3rem;
    }
    
    h2 {
        text-align: center;
        margin: 0 auto; // Zmniejszenie marginesu dla lepszego wykorzystania przestrzeni
        font-size: 2rem; // Zmniejszenie rozmiaru fontu dla lepszej spójności
        color: #888; // Ciemniejszy kolor tekstu dla lepszej czytelności
    }

    p {
        font-size: 4rem;
        font-weight: bold;
    }

    h3 {
        text-align: center;
        margin: 0 auto .5rem; // Zmniejszenie marginesu dla lepszego wykorzystania przestrzeni
        font-size: 1.5rem; // Zmniejszenie rozmiaru fontu dla lepszej spójności
        color: #888;
    }

    ul {
        list-style: none; // Usunięcie domyślnej listy
        font-size: 1.2rem;               
    }
}
