.incomeForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: #1a1a1a; // Jasne tło dla kontrastu
	border-radius: 3rem; // Zaokrąglone rogi
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtelny cień dla głębi
	width: 90%; // Responsywność
	height: auto;
	margin: auto; // Wyśrodkowanie formularza

	h2 {
		color: #888; // Ciemniejszy tekst dla lepszej widoczności
		text-align: center;
		font-size: 2rem;
	}

	p {
		font-size: 4rem;
		font-weight: bold;
    margin-bottom: .5rem;
	}

	input,
	select {
		width: 100%; // Pełna szerokość w kontenerze
		padding: 0.5rem; // Wygodne paddingi
		margin-bottom: 1rem; // Odległość między polami
		border: 1px solid #ccc; // Subtelne obramowanie
		border-radius: 5px; // Lekko zaokrąglone rogi
		font-size: 1rem;

		&:focus {
			border-color: #007bff; // Podświetlenie przy fokusie
			outline: none; // Usunięcie domyślnego outline
			box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); // Subtelny cień wokół pola przy fokusie
		}
	}

	button {
		cursor: pointer; // Kursor wskazujący na interaktywność
		background-color: #007bff; // Jasnoniebieskie tło
		color: #ffffff; // Biały tekst
		border: 2px solid white; // Brak obramowania
		border-radius: 20px; // Zaokrąglone rogi
		padding: .75rem 3rem; // Wygodne paddingi
		margin-top: 1rem; // Odległość od ostatniego pola formularza
		transition: background-color 0.3s; // Animacja zmiany koloru
		font-family: 'Poppins', sans-serif;
		font-size: 1.2rem;
		font-weight: bold;

		&:hover {
			background-color: white;
			color: black;
			
			&:active {
				transform: scale(0.95);
			}
		}
	}
}
