.login-form-container {
    display: flex;
    width: 100vw;  
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* rozciąga się, aby zająć dostępną przestrzeń */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #232323; /* nieco jaśniejsze tło dla formularza */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .login-form label,
  .login-form input {
    display: block;
    margin-bottom: 1rem;
  }
  
  .login-form input {
    padding: 0.5rem;
    background-color: #2c2c2c; /* ciemne tło inputu */
    border: 1px solid #444; /* ciemna obramówka */
    color: #ffffff; /* jasny tekst */;
    transition: .3s;
  }
  
  .login-form input:active {
    border: 1px solid white;
  }
  
  .login-form button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
  }
  
  .login-form button:hover {
    background-color: #444;
    box-shadow: 0px 0px 15px white;
  }
  