.remainingWidget {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    background-color: #1a1a1a;
    width: 90%;
    height: 90%;
    margin: auto; // Wyśrodkowanie widgetu
    padding: 2rem 1rem; // Dostosowanie paddingu
    border-radius: 3rem; // Miękkie zaokrąglenie
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Dodanie subtelnego cienia dla głębi
    
    h2 {
        margin-bottom: 1rem; // Zmniejszenie marginesu dla lepszego wykorzystania przestrzeni
        font-size: 2.5rem; // Zmniejszenie rozmiaru fontu dla lepszej spójności
        color: #333; // Ciemniejszy kolor tekstu dla lepszej czytelności
    }

    p {
        font-size: 4rem;
        font-weight: bold;
    }
}